Language: Cpp
Standard: c++20
ColumnLimit: 85
BasedOnStyle: LLVM
BreakBeforeBraces: Stroustrup
SeparateDefinitionBlocks: Always
AlwaysBreakTemplateDeclarations: Yes
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
