CompileFlags:
    Add: [-Wno-unknown-warning-option, -Wno-sign-compare, -Wno-unknown-pragmas]
Diagnostics:
    UnusedIncludes: None
    ClangTidy:
        # Add:
        Remove: misc-unused-using-decls
